.glass_panel {
    color: #fff;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
  }
.glass_button {
    display: inline-block;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
 
  .glass_button:hover {
    background-color: rgba(255,255,255,0.2);
  }