.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit,minmax(300px, 1fr));
    grid-template-areas: "project";
  gap: 20px;
  grid-auto-flow: dense;
 
}

.project {
    grid-area: "project";
    overflow: hidden;
    position: relative;
    width: 300px;
    height: auto;
}



.project img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.project h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px;
}

.project p {
    font-size: 16px;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
        grid-template-columns: 1fr;
    }
}